**DataFrame Creation:**

1. pd.DataFrame()
2. pd.Series()
3. pd.read_csv()
4. pd.read_excel()
5. pd.read_json()
6. pd.read_html()
7. pd.read_sql()
8. pd.read_parquet()
9. pd.date_range()
10. pd.to_datetime()

In [ ]:
import pandas as pd

# DataFrame and Series
data = {'ID': [1, 2, 3], 'Marks': [40, 50, 60]}
df = pd.DataFrame(data)
print(df)

s = pd.Series([1, 2, 3])
print(s)

# Reading files
# Replace file paths with your own files
#df_csv = pd.read_csv('path/to/your/file.csv')
#df_excel = pd.read_excel('path/to/your/file.xlsx')
#df_json = pd.read_json('path/to/your/file.json')
#df_html = pd.read_html('path/to/your/file.html')[0]  # Assuming the first table is the target
# Replace connection_string and query with your own database info
# connection_string = 'your_connection_string'
# query = 'SELECT * FROM your_table'
# df_sql = pd.read_sql(query, connection_string)
#df_parquet = pd.read_parquet('path/to/your/file.parquet')

# Date handling
dates = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
print(dates)

date_string = '2021-01-01'
date_object = pd.to_datetime(date_string)
print(date_object)

   ID  Marks
0   1     40
1   2     50
2   3     60
0    1
1    2
2    3
dtype: int64
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')
2021-01-01 00:00:00

**DataFrame Inspection:**
11. df.head()
12. df.tail()
13. df.sample()
14. df.info()
15. df.describe()
16. df.shape
17. df.dtypes
18. df.columns
19. df.index

In [ ]:
data = {'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'Marks': [40, 50, 60, 45, 76, 45, 75, 22, 45]}
df = pd.DataFrame(data)

# 1. df.head(): Returns the first 5 rows of the DataFrame by default, or a specified number of rows.
print(df.head())  # You can pass a parameter, like df.head(3), to display the first 3 rows.

# 2. df.tail(): Returns the last 5 rows of the DataFrame by default, or a specified number of rows.
print(df.tail())  # You can pass a parameter, like df.tail(3), to display the last 3 rows.

# 3. df.sample(): Returns a random sample of rows from the DataFrame.
print(df.sample(2))  # You can pass a parameter, like df.sample(2), to get 2 random rows.

# 4. df.info(): Provides a summary of the DataFrame, including index and columns data types, non-null values, and memory usage.
print(df.info())

# 5. df.describe(): Generates summary statistics of the DataFrame, including count, mean, standard deviation, min, max, and percentiles.
print(df.describe())

# 6. df.shape: Returns a tuple representing the dimensionality of the DataFrame (rows, columns).
print(df.shape)

# 7. df.dtypes: Returns the data types of each column in the DataFrame.
print(df.dtypes)

# 8. df.columns: Returns the column labels of the DataFrame.
print(df.columns)

# 9. df.index: Returns the index (row labels) of the DataFrame.
print(df.index)

   ID  Marks
0   1     40
1   2     50
2   3     60
3   4     45
4   5     76
   ID  Marks
4   5     76
5   6     45
6   7     75
7   8     22
8   9     45
   ID  Marks
8   9     45
7   8     22
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      9 non-null      int64
 1   Marks   9 non-null      int64
dtypes: int64(2)
memory usage: 272.0 bytes
None
             ID      Marks
count  9.000000   9.000000
mean   5.000000  50.888889
std    2.738613  17.149668
min    1.000000  22.000000
25%    3.000000  45.000000
50%    5.000000  45.000000
75%    7.000000  60.000000
max    9.000000  76.000000
(9, 2)
ID       int64
Marks    int64
dtype: object
Index(['ID', 'Marks'], dtype='object')
RangeIndex(start=0, stop=9, step=1)

**DataFrame Selection:**
20. df.loc[]

21. df.iloc[]
22. df.at[]
23. df.iat[]
24. df.query()
25. df.xs()

In [ ]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])
print(df)
# df.loc[]: Selects data by label(s) from the DataFrame.
print(df.loc['row1'])  # Selects the row with index 'row1'
print(df.loc[['row1', 'row3'], 'A'])  # Selects multiple rows by index labels
print(df.loc['row1', 'A'])  # Selects a specific element using row and column labels
print("-------------------")

#  df.at[]: Accesses a single value for a row/column label pair.
print(df.at['row1', 'A'])  # Selects the value at the intersection of row 'row1' and column 'A'
print("-------------------")

#  df.xs(): Selects data from the DataFrame based on a specific key, axis, or level.
print(df.xs('row1'))  # Selects the row with index 'row1'
print("-------------------")
# reset the index
df = df.reset_index(drop = True)

# print the DataFrame
print(df)
print("-------------------")
# df.iloc[]: Selects data by integer location(s) from the DataFrame.
print(df.iloc[0])  # Selects the first row
print(df.iloc[[0, 2]])  # Selects multiple rows by integer locations
print(df.iloc[0, 0])  # Selects a specific element using row and column integer locations
print("-------------------")

# df.iat[]: Accesses a single value for a row/column pair by integer position.
print(df.iat[0, 0])  # Selects the value at the intersection of the first row and first column
print("-------------------")
# df.query(): Queries the DataFrame using a boolean expression.
print(df.query("A > 1"))  # Selects rows where column 'A' has a value greater than 1
print("-------------------")

      A  B
row1  1  4
row2  2  5
row3  3  6
A    1
B    4
Name: row1, dtype: int64
row1    1
row3    3
Name: A, dtype: int64
1
-------------------
1
-------------------
A    1
B    4
Name: row1, dtype: int64
-------------------
   A  B
0  1  4
1  2  5
2  3  6
-------------------
A    1
B    4
Name: 0, dtype: int64
   A  B
0  1  4
2  3  6
1
-------------------
1
-------------------
   A  B
1  2  5
2  3  6
-------------------

**DataFrame Filtering:**
26. df[df['column'] > value]

27. df[df['column'].isin([value1, value2])]
28. df[df['column'].notnull()]

**DataFrame Sorting:**

29. df.sort_values()
30. df.sort_index()

**DataFrame Modification:**

31. df.rename()

32. df.replace()
33. df.set_index()
34. df.reset_index()
35. df.astype()
36. df['new_column'] = value
37. df.drop()
38. df.drop_duplicates()

**DataFrame Aggregation and Grouping:**

39. df.count()
40. df.sum()
41. df.min()
42. df.max()
43. df.mean()
44. df.median()
45. df.mode()
46. df.std()
47. df.var()
48. df.quantile()
49. df.cumsum()
50. df.cumprod()
51. df.cummin()
52. df.cummax()
53. df.nunique()
54. df.groupby()
55. df.pivot_table()
56. df.rolling()
57. df.expanding()

In [ ]:
import pandas as pd
import numpy as np

# Generate random data for two variables
np.random.seed(42)
hours_of_study = np.random.uniform(0, 20, 100)  # 100 random numbers from a uniform distribution (range 0-20)
test_scores = 4 * hours_of_study + np.random.normal(0, 2, 100)  # 100 random numbers based on hours_of_study with added noise (mean=0, std_dev=5)
id= np.arange(100)
# Create a pandas DataFrame
df = pd.DataFrame({'ID': id, 'Hours_of_Study': hours_of_study, 'Test_Scores': test_scores})

print(df.head())

# DataFrame Filtering
# 1. Select rows based on a condition for a specific column
print(df[df['Test_Scores'] > 70])  # df['Test_Scores']>70
newdata = df[df['Test_Scores'] > 70]

   ID  Hours_of_Study  Test_Scores
0   0        7.490802    30.137304
1   1       19.014286    75.459130
2   2       14.639879    58.743037
3   3       11.973170    43.917541
4   4        3.120373    12.042147
    ID  Hours_of_Study  Test_Scores
1    1       19.014286    75.459130
11  11       19.398197    78.250290
33  33       18.977711    75.761951
34  34       19.312641    73.413020
43  43       18.186408    74.249498
50  50       19.391693    75.585698
52  52       18.789979    75.359218
53  53       17.896547    70.579237
55  55       18.437485    73.887065
69  69       19.737739    80.514601
80  80       17.262069    72.779823
88  88       17.744255    72.903772

In [ ]:

# 2. Select rows where a column has a value in a list
print(df[df['ID'].isin([5, 14])])
print(df[df['ID'] == 5])

    ID  Hours_of_Study  Test_Scores
5    5        3.119890    13.193787
14  14        3.636499    14.740152
   ID  Hours_of_Study  Test_Scores
5   5         3.11989    13.193787

In [ ]:

# 3. Select rows where a column has a non-null value
print(df[df['ID'].notnull()])

    ID  Hours_of_Study  Test_Scores
0    0        7.490802    37.889247
1    1       19.014286    93.576394
2    2       14.639879    73.658198
3    3       11.973170    49.928004
4    4        3.120373    14.503505
..  ..             ...          ...
95  95        9.875912    45.300508
96  96       10.454657    51.887774
97  97        8.550820    44.459862
98  98        0.508383     3.925367
99  99        2.157829    14.925059

[100 rows x 3 columns]

In [ ]:

# DataFrame Sorting
# 4. Sort DataFrame by values in a specific column
print(df.sort_values(by='Test_Scores'))
x=df.sort_values(by='Test_Scores')

    ID  Hours_of_Study  Test_Scores
72  72        0.110442     1.485653
58  58        0.904546     1.779335
98  98        0.508383     2.586912
10  10        0.411690     3.477564
29  29        0.929008     4.524135
..  ..             ...          ...
1    1       19.014286    75.459130
50  50       19.391693    75.585698
33  33       18.977711    75.761951
11  11       19.398197    78.250290
69  69       19.737739    80.514601

[100 rows x 3 columns]

In [ ]:

# 5. Sort DataFrame by index
print(x.sort_index())

    ID  Hours_of_Study  Test_Scores
0    0        7.490802    37.889247
1    1       19.014286    93.576394
2    2       14.639879    73.658198
3    3       11.973170    49.928004
4    4        3.120373    14.503505
..  ..             ...          ...
95  95        9.875912    45.300508
96  96       10.454657    51.887774
97  97        8.550820    44.459862
98  98        0.508383     3.925367
99  99        2.157829    14.925059

[100 rows x 3 columns]

In [ ]:

# DataFrame Modification
# 6. Rename columns in a DataFrame
df = df.rename(columns={'Hours_of_Study': 'HS', 'Test_Scores': 'TS'})
print(df)

# 7. Replace values in a DataFrame
print(df['ID'].replace(1, 100))
df['ID'] = df['ID'].replace(1, 100)
# 8. Set a column as the index of a DataFrame

print(df.set_index('ID'))

# 9. Reset index of a DataFrame
print(df.reset_index())

# 10. Change the data type of a column in a DataFrame
print(df['HS'].astype(float))

# 11. Add a new column to a DataFrame
df['new_column'] = 'some_value'
print(df)

# 12. Drop a column or row from a DataFrame
print(df.drop('new_column', axis=1))

print(df.drop(0, axis=0))
df = df.drop('new_column', axis=1)
# 13. Remove duplicate rows from a DataFrame
print(df.drop_duplicates())

    ID         HS         TS  new_column
0    0   7.490802  30.137304  some_value
1    1  19.014286  75.459130  some_value
2    2  14.639879  58.743037  some_value
3    3  11.973170  43.917541  some_value
4    4   3.120373  12.042147  some_value
..  ..        ...        ...         ...
95  95   9.875912  37.872027  some_value
96  96  10.454657  41.664423  some_value
97  97   8.550820  34.885585  some_value
98  98   0.508383   2.586912  some_value
99  99   2.157829  10.285681  some_value

[100 rows x 4 columns]
0       0
1     100
2       2
3       3
4       4
     ...
95     95
96     96
97     97
98     98
99     99
Name: ID, Length: 100, dtype: int64
            HS         TS  new_column
ID
0     7.490802  30.137304  some_value
100  19.014286  75.459130  some_value
2    14.639879  58.743037  some_value
3    11.973170  43.917541  some_value
4     3.120373  12.042147  some_value
..         ...        ...         ...
95    9.875912  37.872027  some_value
96   10.454657  41.664423  some_value
97    8.550820  34.885585  some_value
98    0.508383   2.586912  some_value
99    2.157829  10.285681  some_value

[100 rows x 3 columns]
    index   ID         HS         TS  new_column
0       0    0   7.490802  30.137304  some_value
1       1  100  19.014286  75.459130  some_value
2       2    2  14.639879  58.743037  some_value
3       3    3  11.973170  43.917541  some_value
4       4    4   3.120373  12.042147  some_value
..    ...  ...        ...        ...         ...
95     95   95   9.875912  37.872027  some_value
96     96   96  10.454657  41.664423  some_value
97     97   97   8.550820  34.885585  some_value
98     98   98   0.508383   2.586912  some_value
99     99   99   2.157829  10.285681  some_value

[100 rows x 5 columns]
0      7.490802
1     19.014286
2     14.639879
3     11.973170
4      3.120373
        ...
95     9.875912
96    10.454657
97     8.550820
98     0.508383
99     2.157829
Name: HS, Length: 100, dtype: float64
     ID         HS         TS  new_column
0     0   7.490802  30.137304  some_value
1   100  19.014286  75.459130  some_value
2     2  14.639879  58.743037  some_value
3     3  11.973170  43.917541  some_value
4     4   3.120373  12.042147  some_value
..  ...        ...        ...         ...
95   95   9.875912  37.872027  some_value
96   96  10.454657  41.664423  some_value
97   97   8.550820  34.885585  some_value
98   98   0.508383   2.586912  some_value
99   99   2.157829  10.285681  some_value

[100 rows x 4 columns]
     ID         HS         TS
0     0   7.490802  30.137304
1   100  19.014286  75.459130
2     2  14.639879  58.743037
3     3  11.973170  43.917541
4     4   3.120373  12.042147
..  ...        ...        ...
95   95   9.875912  37.872027
96   96  10.454657  41.664423
97   97   8.550820  34.885585
98   98   0.508383   2.586912
99   99   2.157829  10.285681

[100 rows x 3 columns]
     ID         HS         TS  new_column
1   100  19.014286  75.459130  some_value
2     2  14.639879  58.743037  some_value
3     3  11.973170  43.917541  some_value
4     4   3.120373  12.042147  some_value
5     5   3.119890  13.193787  some_value
..  ...        ...        ...         ...
95   95   9.875912  37.872027  some_value
96   96  10.454657  41.664423  some_value
97   97   8.550820  34.885585  some_value
98   98   0.508383   2.586912  some_value
99   99   2.157829  10.285681  some_value

[99 rows x 4 columns]
     ID         HS         TS
0     0   7.490802  30.137304
1   100  19.014286  75.459130
2     2  14.639879  58.743037
3     3  11.973170  43.917541
4     4   3.120373  12.042147
..  ...        ...        ...
95   95   9.875912  37.872027
96   96  10.454657  41.664423
97   97   8.550820  34.885585
98   98   0.508383   2.586912
99   99   2.157829  10.285681

[100 rows x 3 columns]

In [ ]:
# DataFrame Aggregation and Grouping
# 14. Count non-null values in each column
print(df.count())

ID            100
HS            100
TS            100
new_column    100
grades        100
dtype: int64

In [ ]:

# 15. Sum values in each column
print(df[['TS','HS']].sum())

TS    4701.267254
HS     940.361487
dtype: float64

In [ ]:

# 16. Find the minimum value in each column
print(df[['TS','HS']].min())

TS   -0.074392
HS    0.110442
dtype: float64

In [ ]:

# 17. Find the maximum value in each column
print(df[['TS','HS']].max())

TS    102.597808
HS     19.737739
dtype: float64

In [ ]:

# 18. Calculate the mean value for each column
print(df[['TS','HS']].mean())

# 19. Calculate the median value for each column
print(df[['TS','HS']].median())

TS    47.012673
HS     9.403615
dtype: float64
TS    44.728704
HS     9.282849
dtype: float64

In [ ]:
# 21. Calculate the standard deviation for each column
print(df[['TS','HS']].std())

# 22. Calculate the variance for each column
print(df[['TS','HS']].var())

# 23. Calculate the specified quantile for each column
print(df[['TS','HS']].quantile(0.75))

TS    29.413357
HS     5.949788
dtype: float64
TS    865.14559
HS     35.39998
dtype: float64
TS    21.926021
HS     3.864015
Name: 0.25, dtype: float64

In [ ]:
print(df.head())
# 24. Compute the cumulative sum for each column
print(df[['HS','TS']].cumsum())

# 25. Compute the cumulative product for each column
print(df[['HS','TS']].cumprod())

# 26. Compute the cumulative minimum for each column
print(df[['TS','HS']].cummin())

# 27. Compute the cumulative maximum for each column
print(df[['TS','HS']].cummax())

    ID         HS         TS
0    0   7.490802  30.137304
1  100  19.014286  75.459130
2    2  14.639879  58.743037
3    3  11.973170  43.917541
4    4   3.120373  12.042147
            HS           TS
0     7.490802    30.137304
1    26.505089   105.596433
2    41.144967   164.339470
3    53.118137   208.257011
4    56.238510   220.299159
..         ...          ...
95  918.689799  3671.807274
96  929.144455  3713.471697
97  937.695276  3748.357283
98  938.203658  3750.944194
99  940.361487  3761.229875

[100 rows x 2 columns]
              HS             TS
0   7.490802e+00   3.013730e+01
1   1.424323e+02   2.274135e+03
2   2.085191e+03   1.335896e+05
3   2.496635e+04   5.866926e+06
4   7.790431e+04   7.065039e+07
..           ...            ...
95  3.066814e+80  2.702156e+139
96  3.206249e+81  1.125838e+141
97  2.741606e+82  3.927551e+142
98  1.393784e+82  1.016023e+143
99  3.007548e+82  1.045049e+144

[100 rows x 2 columns]
           TS        HS
0   30.137304  7.490802
1   30.137304  7.490802
2   30.137304  7.490802
3   30.137304  7.490802
4   12.042147  3.120373
..        ...       ...
95   1.485653  0.110442
96   1.485653  0.110442
97   1.485653  0.110442
98   1.485653  0.110442
99   1.485653  0.110442

[100 rows x 2 columns]
           TS         HS
0   30.137304   7.490802
1   75.459130  19.014286
2   75.459130  19.014286
3   75.459130  19.014286
4   75.459130  19.014286
..        ...        ...
95  80.514601  19.737739
96  80.514601  19.737739
97  80.514601  19.737739
98  80.514601  19.737739
99  80.514601  19.737739

[100 rows x 2 columns]

In [ ]:
df['grades'] = df['TS'].apply(lambda x: 'good' if x > 70 else 'bad')

# 28. Count the number of unique values in each column
print(df['grades'].nunique())

# 29. Group DataFrame by a column and perform aggregation functions

print(df.groupby('grades').sum())

# 30. Create a pivot table from the DataFrame
print(df.pivot_table(values='TS', index='grades', aggfunc='mean'))

# 31. Apply a rolling window function to the DataFrame
print(df.rolling(window=2).sum())

2
          ID          HS           TS
grades
bad     4381  716.212479  2862.486573
good     668  224.149008   898.743302
               TS
grades
bad     32.528257
good    74.895275
       ID         HS          TS
0     NaN        NaN         NaN
1   100.0  26.505089  105.596433
2   102.0  33.654165  134.202167
3     5.0  26.613049  102.660578
4     7.0  15.093542   55.959688
..    ...        ...         ...
95  189.0  25.295256   97.770373
96  191.0  20.330569   79.536450
97  193.0  19.005477   76.550008
98  195.0   9.059203   37.472497
99  197.0   2.666211   12.872592

[100 rows x 3 columns]

<ipython-input-83-54ff034f0f3e>:14: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['grades'], dtype='object')
  print(df.rolling(window=2).sum())

**DataFrame Reshaping:**
63. df.melt()

64. df.pivot()
65. df.stack()
66. df.unstack()
67. df.transpose()
**DateTime Manipulation:**
68. df['column'].dt.year
69. df['column'].dt.month
70. df['column'].dt.day
71. df['column'].dt.hour
72. df['column'].dt.minute
73. df['column'].dt.second
74. df['column'].dt.weekday
75. df['column'].dt.dayofyear
76. df['column'].dt.quarter
77. df['column'].dt.is_month_start
78. df['column'].dt.is_month_end

In [ ]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)
# DataFrame Reshaping
# 1. Melt the DataFrame into a long format
melted = df.melt(var_name='column', value_name='value')
print(melted)

# 2. Pivot the DataFrame to a wide format
pivoted = melted.pivot(index='column', columns='value')
print(pivoted)

# 3. Stack the DataFrame
stacked = df.stack()
print(stacked)

# 4. Unstack the DataFrame
unstacked = stacked.unstack()
print(unstacked)

# 5. Transpose the DataFrame (swap rows and columns)
transposed = df.transpose()
print(transposed)

# DateTime Manipulation
# Create a DataFrame with a datetime column
date_data = {'date': pd.date_range(start='2021-01-01', periods=3, freq='D')}
date_df = pd.DataFrame(date_data)

# 6-16. Access datetime properties
print(date_df['date'].dt.year)
print(date_df['date'].dt.month)
print(date_df['date'].dt.day)
print(date_df['date'].dt.hour)
print(date_df['date'].dt.minute)
print(date_df['date'].dt.second)
print(date_df['date'].dt.weekday)
print(date_df['date'].dt.dayofyear)
print(date_df['date'].dt.quarter)
print(date_df['date'].dt.is_month_start)
print(date_df['date'].dt.is_month_end)

   A  B
0  1  4
1  2  5
2  3  6
  column  value
0      A      1
1      A      2
2      A      3
3      B      4
4      B      5
5      B      6
Empty DataFrame
Columns: []
Index: [A, B]
0  A    1
   B    4
1  A    2
   B    5
2  A    3
   B    6
dtype: int64
   A  B
0  1  4
1  2  5
2  3  6
   0  1  2
A  1  2  3
B  4  5  6
0    2021
1    2021
2    2021
Name: date, dtype: int64
0    1
1    1
2    1
Name: date, dtype: int64
0    1
1    2
2    3
Name: date, dtype: int64
0    0
1    0
2    0
Name: date, dtype: int64
0    0
1    0
2    0
Name: date, dtype: int64
0    0
1    0
2    0
Name: date, dtype: int64
0    4
1    5
2    6
Name: date, dtype: int64
0    1
1    2
2    3
Name: date, dtype: int64
0    1
1    1
2    1
Name: date, dtype: int64
0     True
1    False
2    False
Name: date, dtype: bool
0    False
1    False
2    False
Name: date, dtype: bool

**String Manipulation:**
79. df['column'].str.lower()
80. df['column'].str.upper()
81. df['column'].str.title()
82. df['column'].str.capitalize()
83. df['column'].str.strip()
84. df['column'].str.split()
85. df['column'].str.replace()
86. df['column'].str.startswith()
87. df['column'].str.endswith()
88. df['column'].str.contains()
89. df['column'].str.len()
**Categorical Data:**
90. df['column'].astype('category')

91. df['column'].cat.codes
92. df['column'].cat.categories
93. df['column'].cat.add_categories()
94. df['column'].cat.remove_categories()
95. df['column'].cat.rename_categories()
96. df['column'].cat.reorder_categories()
97. df['column'].cat.as_ordered()
98. df['column'].cat.asunordered()

In [ ]:
import pandas as pd

data = {'A': ['apple', 'banana', 'cherry']}
df = pd.DataFrame(data)

# String Manipulation
# 1-11. Perform various string manipulations on a DataFrame column
print(df['A'].str.lower())
print(df['A'].str.upper())
print(df['A'].str.title())
print(df['A'].str.capitalize())
print(df['A'].str.strip())
print(df['A'].str.split())
print(df['A'].str.replace('a', 'z'))
print(df['A'].str.startswith('a'))
print(df['A'].str.endswith('y'))
print(df['A'].str.contains('a'))
print(df['A'].str.len())

# Categorical Data
# Create a DataFrame with a categorical column
cat_data = {'B': ['blue', 'green', 'red']}
cat_df = pd.DataFrame(cat_data)

# 12. Convert a column to the 'category' data type
cat_df['B'] = cat_df['B'].astype('category')
print(cat_df['B'])

# 13-20. Perform various manipulations on a categorical column
print(cat_df['B'].cat.codes)
print(cat_df['B'].cat.categories)
print(cat_df['B'].cat.add_categories(['yellow']))
print(cat_df['B'].cat.remove_categories(['blue']))
print(cat_df['B'].cat.rename_categories({'blue': 'azure'}))
print(cat_df['B'].cat.reorder_categories(['green', 'blue', 'red'], ordered=True))
print(cat_df['B'].cat.as_ordered())
print(cat_df['B'].cat.as_unordered())

**Problem: Analyze the sales data of a small retail store and find the total sales per product category for the year 2021.**

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Date': pd.date_range(start='2021-01-01', end='2021-12-31', freq='D'),
    'Product_ID': np.random.randint(1, 101, 365),
    'Product_Category': np.random.choice(['Electronics', 'Clothing', 'Kitchen', 'Toys'], 365),
    'Sale_Price': np.random.uniform(10, 500, 365),
}

df = pd.DataFrame(data)

In [ ]:
# Start coding here....
# Preprocessing
# Convert 'Product_Category' to a categorical column
df['Product_Category'] = df['Product_Category'].astype('category')

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

# Calculate the total sales per product category for 2021
total_sales_per_category = df.groupby('Product_Category').sum()['Sale_Price']

print(total_sales_per_category)

**Problem:** A small company wants to analyze their employees' information to find the average salary for each department and the percentage of employees who have been with the company for more than 5 years.

In [ ]:
import pandas as pd

data = {
    'Employee_ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Department': ['HR', 'IT', 'IT', 'Sales', 'HR', 'Sales', 'IT'],
    'Hire_Date': ['2010-02-14', '2015-06-22', '2012-03-18', '2018-10-01', '2016-11-15', '2014-08-27', '2019-05-12'],
    'Salary': [50000, 60000, 55000, 62000, 52000, 58000, 64000],
}

df = pd.DataFrame(data)

In [ ]:
# Start your code here....

In [ ]:
# Convert 'Hire_Date' to a datetime column
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'])

# Calculate the average salary for each department
average_salary_per_department = df.groupby('Department')['Salary'].mean()

# Calculate the percentage of employees who have been with the company for more than 5 years
current_year = pd.to_datetime('2021-01-01')
years_of_experience = (current_year - df['Hire_Date']).dt.days // 365
percentage_over_5_years = (years_of_experience > 5).sum() / df.shape[0] * 100

# Results
print("Average salary per department:")
print(average_salary_per_department)
print("\nPercentage of employees with more than 5 years of experience: {:.2f}%".format(percentage_over_5_years))

**Problem:** A high school wants to analyze students' grades in three subjects (Math, Physics, and Chemistry) to find the average grade per subject and the number of students with an overall average grade above 85.

In [ ]:
import pandas as pd

data = {
    'Student_ID': range(1, 11),
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Heidi', 'Ivan', 'Jack'],
    'Math': [95, 78, 84, 92, 88, 76, 90, 82, 89, 80],
    'Physics': [90, 75, 83, 87, 91, 77, 89, 80, 92, 85],
    'Chemistry': [88, 81, 79, 91, 92, 78, 85, 83, 87, 86],
}

df = pd.DataFrame(data)

In [ ]:
# Start code here.......

In [ ]:
# Calculate the average grade per subject
average_grade_per_subject = df[['Math', 'Physics', 'Chemistry']].mean()

# Calculate the overall average grade for each student
df['Average_Grade'] = df[['Math', 'Physics', 'Chemistry']].mean(axis=1)

# Count the number of students with an overall average grade above 85
students_above_85 = (df['Average_Grade'] > 85).sum()

# Results
print("Average grade per subject:")
print(average_grade_per_subject)
print("\nNumber of students with an overall average grade above 85: {}".format(students_above_85))